@model WebPanit.Models.PostCategoryParent

@{
    ViewBag.Title = Model !=null ? (Model.Id!=0 ? "Cập nhật danh mục gốc của thể loại bài viết":"Thêm mới danh mục danh mục gốc của thể loại bài viết") :"Thêm mới danh mục gốc của thể loại bài viết";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 id="title"></h2>

<p>
    <a href="@Url.Action("ListPostCategoryParent","Admin")" class="btn btn-outline-info">
        Danh sách danh mục gốc
    </a>
</p>
<br />

<div class="box_content p-4">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        if (Model != null)
        {
            @Html.HiddenFor(model => model.Id)
        }

        <div class="form-group row">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-form-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.DisplayOrder, htmlAttributes: new { @class = "col-form-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DisplayOrder)
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "col-form-label col-md-2" })
            <div class="col">
                @Html.EditorFor(model => model.Active)
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <button type="submit" id="btnSubmit" class="btn"></button>
            </div>
        </div>
    }
</div>


@section scripts{
    <script>
        if ($("#ID").val() > 0) {
            $("#title").html("Cập nhật danh mục gốc");
            $("#btnSubmit").html('<i class="far fa-pen-square mr-1"></i>Lưu thay đổi');
            $("#btnSubmit").addClass("btn-primary")
        }
        else {
            $("#title").html("Thêm mới danh mục gốc");
            $("#btnSubmit").html('<i class="far fa-plus mr-1"></i> Thêm mới');
            $("#btnSubmit").addClass("btn-success")
        }
    </script>
}