@using WebPanit.Models;
@model Contact

@{
    ViewBag.Title = "Thông tin liên hệ";
    var config = (ConfigSite)HttpContext.Current.Application["ConfigSite"];
}
<div class="breadcrumb">
    <a href="@Url.Action("Index","Home")" class="mb-2"><i class="fas fa-home"></i></a>
    <span class="mb-2">Thông tin liên hệ</span>
</div>
<div class="container p-5">
    <div class="row">
        <h2>Thông tin liên hệ</h2>
        <hr />
        <div class="col-12 col-lg-6">
            <form id="formData">
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group row">
                    @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "col-form-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.FullName)
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-form-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Email)
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "col-form-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.PhoneNumber)
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "col-form-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Subject)
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "col-form-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Content)
                    </div>
                </div>

                <div class="form-group row offset-4">
                    <button class="btn btn-block btn-success" onclick="SubmitForm()">
                        Gửi liên hệ
                    </button>
                </div>
            </form>
        </div>
        <div class="col-12 col-lg-6 pl-5">
            @Html.Raw(config.Contact)
        </div>
    </div>
</div>
@section scripts{
    
    <script>
        function SubmitForm() {
            var formData = $("#formData").serialize();
            $.ajax({
                type: "post",
                url: "/Home/ContactView",
                data: formData,
                success: function (res) {
                    if (res == true) {
                        alert("Cảm ơn bạn đã gửi liên hệ cho chúng tôi!");
                        window.location.href = "/Home/Index";
                    }
                    else {
                        alert("Bạn hãy nhập đủ thông tin!");
                        return false;
                    }
                }
            })
        }
    </script>   
 } 