@using WebPanit.Models;
@using PagedList.Mvc

@model PagedList.IPagedList<Product>
@{
    ViewBag.Title = "Danh sách sản phẩm tìm kiếm";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<div class="breadcrumb">
    <a href="@Url.Action("Index","Home")" class="mb-2"><i class="fas fa-home"></i></a>
    <a href="@Url.Action("ListProduct","Home")" class="mb-2">Sản phẩm</a>
    <span class="mb-2">Danh sách sản phẩm tìm kiếm</span>
</div>
@if (Model.Count() > 1)
{
    <div class="category-panit">
        <div class="title">
            Danh sách sản phẩm tìm kiếm theo tên và danh mục
        </div>
        <hr />
        <div class="row no-gutter8">
            @foreach (Product product in Model)
            {
                <div class="col-6 col-md-4 col-lg-4 col-xl-3 mb-3">
                    @Html.Partial("ProductCardPartial", product)
                </div>
            }
        </div>
    </div>
    if (Model.PageCount > 1)
    {
        <div class="text-center">
            @Html.PagedListPager(Model, page => Url.Action("ListProduct", new { page }))
        </div>
    }
}
else
{
    <h2>Không có sản phẩm nào được tìm thấy!    </h2>
}

@Html.Action("LasterPost", "Home")
