@using WebPanit.Models
@model Product
@{ 
    string quantity = Model.Quantity != 0 ? "Còn hàng" : "Hết hàng";
    var config = (ConfigSite)HttpContext.Current.Application["ConfigSite"];
}
<div class="breadcrumb">
    <a href="@Url.Action("Index","Home")" class="mb-2"><i class="fas fa-home"></i></a>
    <a href="@Url.Action("ListProduct","Home")" class="mb-2">Sản phẩm</a>
    <a href="@Url.Action("ListProduct","Home",new { tradeMarkId=Model.TradeMarkID,name=Html.ConvertToUnSign(Model.TradeMark.Name)})" class="mb-2">@Model.TradeMark.Name</a>
    <a href="@Url.Action("ListProduct","Home",new { tradeMarkId=Model.TradeMarkID,name=Html.ConvertToUnSign(Model.TradeMark.Name)})" class="mb-2">@Model.TradeMark.Name nội thất</a>
    <span class="mb-2">@Model.Name.Substring(1,15) ...</span>
</div>
<div class="detail">
    <div class="row">
        <div class="col-12 col-sm-8 col-lg-6">
            <div class="slider-for"> 
                @for (int i = 0; i < Model.Images.Split(';').Length-1; i++)
                {
                    <div class="slide">
                        <img src="~/Images/Products/@Model.Images.Split(';')[i]" class="card-img-top" />
                    </div>
                }

            </div>
            <div class="slider-nav">
                @for (int i = 0; i < Model.Images.Split(';').Length - 1; i++)
                {
                    <div class="slide">
                        <img src="~/Images/Products/@Model.Images.Split(';')[i]" class="card-img-top" />
                    </div>
                }
            </div>
        </div>
        <div class="col-12 col-lg-6 information">
            <div class="name">
                @Model.Name
            </div>
            <ul class="description">
                <li>
                    <span>Mã sản phẩm :</span> <span>@Model.Code</span>
                </li>
                <li>
                    <span>Danh mục:</span> <span>@Model.TradeMark.Name ngoại thất</span>
                </li>
                <li>
                    <span>Tình trạng: </span> <span>@quantity</span>
                </li>
                <li>
                    <span>Mô tả :</span> <span>@Model.Description</span>
                </li>
            </ul>
            <div class="product-price">
                @Model.Price.ToString("#,##") VNĐ
                @if (Model.OriginalPrice != 0)
                {
                    <u class="ml-3">@Model.OriginalPrice.ToString("#,##") VNĐ</u>
                }
            </div>
            <a href="@Url.Action("OrderProduct","Home",new { id=Model.Id,name=Html.ConvertToUnSign(Model.Name)})" class="btn btn-buy-product">
                LIÊN HỆ MUA HÀNG
            </a>
        </div>
    </div>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" id="1" data-toggle="tab" href="#Detail" role="tab" aria-controls="Detail" aria-selected="true">
                THÔNG TIN CHI TIẾT
            </a>
            <a class="nav-link" id="2" data-toggle="tab" href="#Paint-price" role="tab" aria-controls="Paint-price" aria-selected="false">
                BÁO GIÁ SƠN
            </a>
            <a class="nav-link" id="3" data-toggle="tab" href="#Payment" role="tab" aria-controls="Payment" aria-selected="false">
                THANH TOÁN
            </a>
            <a class="nav-link" id="4" data-toggle="tab" href="#Ship" role="tab" aria-controls="Ship" aria-selected="false">
                VẬN CHUYỂN SƠN
            </a>
            <a class="nav-link" id="5" data-toggle="tab" href="#Warranty" role="tab" aria-controls="Warranty" aria-selected="false">
                BẢO HÀNH SƠN
            </a>

        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="Detail" role="tabpanel" aria-labelledby="nav-home-tab">
            @Html.Raw(Model.Detail)
        </div>
        <div class="tab-pane fade" id="Paint-price" role="tabpanel" aria-labelledby="nav-profile-tab">
            @Html.Raw(config.PricePaint)
        </div>
        <div class="tab-pane fade" id="Payment" role="tabpanel" aria-labelledby="nav-contact-tab">
            @Html.Raw(config.Payment)
        </div>
        <div class="tab-pane fade" id="Ship" role="tabpanel" aria-labelledby="nav-profile-tab">
            @Html.Raw(config.Transport)
        </div>
        <div class="tab-pane fade" id="Warranty" role="tabpanel" aria-labelledby="nav-contact-tab">
            <p><strong>Thời gian bảo hành:</strong> @Model.Warranty tháng</p>
        </div>
    </div>
</div>


